<div class="container">
    <h2> Lista de Clientes </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <td scope="row">
                    {{c.name}}
                </td>
                <td scope="row">
                    <button id="btnDebt" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalDebt" (click)="ViewDebt(c.id)">Visualizar Dívida </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Dívida</h2>
            <h2 style="color:red;">{{debt.value | currency:'BRL':true:'1.2-2'}} </h2>
        </div>
        <div class="col-sm-6">
            <h2>Data de vencimento</h2>
            <h2 style="color:red;">
                {{debt.dueDate | date: 'dd'}}/{{debt.dueDate | date:'MM'}}/{{debt.dueDate | date: 'yyyy'}}</h2>
        </div>
        <div class="col-sm-3">
            <h2>Comissão</h2>
            <h2 style="color:red;">{{simulation.valueComission | currency:'BRL':true:'1.2-2'}}</h2>
        </div>
    </div>
    <form class="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="installments">Quantidade de Parcelas</label>
                    <input [(ngModel)]="negociation.installments" [ngModelOptions]="{standalone: true}" type="number"
                        class="form-control" id="installments" aria-describedby="emailHelp"
                        placeholder="Informe a quantidade de parcelas">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="interest">Tipo de Juros</label>
                    <select id="interest" class="form-control" [(ngModel)]="negociation.interest"
                        [ngModelOptions]="{standalone: true}">
                        <option value="1" selected>Simples</option>
                        <option value="2">Composto</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="valueRate">Juros(%) ao dia</label>
                    <input type="number" step="00.01" class="form-control" id="valueRate" aria-describedby="valueRate"
                        placeholder="Informe a porcentagem do juros" [(ngModel)]="negociation.valueRate"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="commission">Comissão (%)</label>
                    <input type="number" step="00.01" class="form-control " id="commission"
                        aria-describedby="commission" placeholder="Informe a porcentagem da comissão"
                        [(ngModel)]="negociation.commission" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <button id="btnSimular" type="submit" class="btn btn-primary" (click)="simulate()">Simular
            negociação</button>
    </form>
</div>
<br>
<br>
<div class="container">
    <h2> Dívida Finalizada </h2>
    <ul class="list-group">
        <li class="list-group-item active">Informações</li>
        <li class="list-group-item"> Data de vencimento -
            {{debt.dueDate | date: 'dd'}}/{{debt.dueDate | date:'MM'}}/{{debt.dueDate | date: 'yyyy'}}</li>
        <li class="list-group-item "> Dias de Atraso - {{simulation.daysRate}} </li>
        <li class="list-group-item "> Valor Original - {{simulation.valueDebit | currency:'BRL':true:'1.2-2'}}</li>
        <li class="list-group-item "> Valor do Juros - {{simulation.valueRate | currency:'BRL':true:'1.2-2'}} </li>
        <li class="list-group-item "> Valor do Final - {{simulation.valueDebtRate | currency:'BRL':true:'1.2-2'}}</li>
        <li class="list-group-item "> Valor final de cada parcela <br>
            <ul>
                <li *ngFor="let d of installmentsDate">{{simulation.valueInstallments | currency:'BRL':true:'1.2-2'}} -
                    {{debt.dueDate | date: 'dd'}}/{{d | date:'MM'}}/{{debt.dueDate | date: 'yyyy'}}</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-danger "> Telefone de orientação para ligar e negociar com um
            colaborador: (14) 9999-9999 </li>
    </ul>
</div>